.container
	.hero-unit
		%h1
			ErlangC Calculator for iPhone v1.1
		%p
			Available now on The App Store, ErlangC v1.1 allows users to perform simple staffing calculations using the ErlangC algorithm.
		%p
			%a.btn.btn-primary.btn-large{:href => '/iphone/erlang'} Learn more

	.row
		.span4
			%h2
				ErlangC in Excel
			%p
				I've often had requests from people for formulas they can use in MS Excel for generating staffing models using ErlangC methods.  Some of the basic information you need to do this is available freely here. 
			%p
				%a.btn{:class => "btn-info", :href => '/excel/erlang'} View Details
		.span4
			%h2
				Forecasting in Excel
			%p
				We are developing MS Excel worksheets and tutorials for long and short term forecasting calculations.
			%p
				%a.btn{:class => "btn-info disabled", :href => '/'} View Details (Coming Soon)
		.span4
			%h2
				Shrinkage in Excel
			%p
				Analyse your off-phone activities to determine how productive your call centre workforce is.  Take a look at our Excel Shrinkage Calculators (coming soon).
			%p
				%a.btn{:class => "btn-info disabled", :href => '/'} View Details (Coming Soon)

	%hr
	.navbar.navbar-fixed-bottom
		%ul.breadcrumb
			%li.active
				%a{:href =>"/"} Home
				%span.divider
	%div= haml :footer