.container
	.hero-unit
		%h1
			Shrinkage Calculations in Excel

	.row
		.span12
			%h2
				Shrinkage Explained
			%p
				Introduction text here.
			%pre.prettyprint
				int g = 1;
				int p = 3;
				int q = g + p;
				int g = 1;
				int p = 3;
				int q = g + p;
				int g = 1;
				int p = 3;
				int q = g + p;
				int g = 1;
				int p = 3;
				int q = g + p;